<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <!--BS CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">


     <!--MIS ESTILOS-->
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>


    <section id="buscar">
        <form>
            <input type="search"  value="Search"> <i class="fas fa-search"></i> <i class="fas fa-shopping-cart"></i>
        </form>
    </section>


    <section>
     <!--   <img src="imagenes/logo.jfif" alt="logo" width="30" height="30">-->
    <h1><img src="../imagenes/logo.jfif" alt="logo" width="30" height="30"><a href="../index.html">Vivero Cuore</a></h1>
   </section>   




    <header>
         <!--MENU PRINCIPAL-->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
                  <a class="nav-link active" aria-current="page" href="../views/servicios.html">Servicios</a>
                  <a class="nav-link active" aria-current="page" href="../views/faq.html">Faq</a>
                  <a class="nav-link active" aria-current="page" href="../views/contacto.html">Contacto</a>
                </div>
              </div>
            </div>
          </nav>

<br><br><br>

        <section id="faq">
            <hr>
            <p class="lead">
                1.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla soluta quis 
                quod assumenda sit dolorem ea a harum. Praesentium facilis blanditiis labore doloremque 
                tenetur ipsum non soluta aspernatur vero.</p>
            <hr>     
            <br><br> 
            <hr>
            <p class="lead">2.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla soluta quis 
                quod assumenda sit dolorem ea a harum. Praesentium facilis blanditiis labore doloremque 
                tenetur ipsum non soluta aspernatur vero.</p>
            <hr>
            <br><br>
            <hr>
            <p class="lead">3.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nulla soluta quis 
                quod assumenda sit dolorem ea a harum. Praesentium facilis blanditiis labore doloremque 
                tenetur ipsum non soluta aspernatur vero.
            <hr>
            </p>
        </section>

        <br><br><br>

    </header>

   
    <hr><!--PIE DE PAGINA , CONTACTOS RRSS, MEDIOS DE PAGO-->
    <footer class="pieDePagina">
        <section>
            <form>
                
            </form>
        </section>
        <section>
            <h3>contactos en redes sociales</h3>
            <!--iconos de rrss-->
            <a href="https://wa.me/1137917261/?text=Me%20interesa%20la%20planta%20que%20estás%20vendiendo" target="_blank">WhatsApp  <i class="fab fa-whatsapp"></i></a>
            <a href="mailto: viverocuore@gmail.com">Mail  <i class="fas fa-envelope"></i></a>
            <a href="https://instagram.com">Instagram  <i class="fab fa-instagram"></i></a>
            
    
        </section>
        <section>
            <h3>medios de pago</h3>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-amazon"></i>
            <!--iconos de tarjetas-->
        </section>
        <section>
            <p>Vivero Cuore todos los derechos reservados -  desarrollado por Mariano Resnicoff
            <hr>
            <br>
            <br>
            </p>
        </section>
        
    </footer>
    
    <!-- SCRIPT DE BootStrap-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"></script>
    </body>
    
    </html>