<!DOCTYPE html>
<html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>productos</title>
        <link rel="shortcut icon" href="../imagenes/hoya.jpg">
        <link rel="stylesheet" href="../estilos/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

    
<body id="gridAreas">
    
               
    <section class="container-galeria">
                   <div class="product">
                       <img class="circular-square" src="../imagenes/interior/hoya/hoya1.jpg" alt="hoya1">
                       <h3 class="product__title">Maceta Roja</h3>
                       <h4 class="product__price">Precio: $800</h4>
                   </div>
   
                   <div class="product">
                       <img class="circular-square" src="../imagenes/interior/hoya/hoya2.jpg" alt="hoya2">
                       <h3 class="product__title">Maceta Cuadrada</h3>
                       <h4 class="product__price">Precio: $750</h4>
                   </div>
   
                   <div class="product">
                       <img class="circular-square" src="../imagenes/interior/hoya/hoya3.jpg" alt="hoya3">
                       <h3 class="product__title">Maceta Verde</h3>
                       <h4 class="product__price">Precio: $950</h4>
                   </div>
   
                   <div class="product">
                       <img class="circular-square" src="../imagenes/interior/hoya/hoya8.jpg" alt="hoya4">
                       <h3 class="product__title">Maceta Gris</h3>
                       <h4 class="product__price">Precio: $950</h4>
                   </div>

                    <div class="product">
                        <img class="circular-square" src="../imagenes/interior/hoya/hoya5.jpg" alt="hoya1">
                        <h3 class="product__title">Maceta Verde</h3>
                        <h4 class="product__price">Precio: $950</h4>
                    </div>

                    <div class="product">
                        <img class="circular-square" src="../imagenes/interior/hoya/hoya6.jpg" alt="hoya2">
                        <h3 class="product__title">Maceta Verde</h3>
                        <h4 class="product__price">Precio: $950</h4>
                    </div>

                    <div class="product">
                        <img class="circular-square" src="../imagenes/interior/hoya/hoya7.jpg" alt="hoya3">
                        <h3 class="product__title">Maceta Verde</h3>
                        <h4 class="product__price">Precio: $950</h4>
                    </div>

                    <div class="product">
                        <img class="circular-square" src="../imagenes/interior/hoya/hoya8.jpg" alt="hoya4">
                        <h3 class="product__title">Maceta Verde</h3>
                        <h4 class="product__price">Precio: $950</h4>
                    </div>
                    
        <h1><a class="back" href="../index.html">Volver</a></h1>        
                    
    </section>
   
    
    <header>
    
        <section id="buscar">
        <form>
            <input type="search"  value="Search"> <i class="fas fa-search"></i> <i class="fas fa-shopping-cart"></i>
        </form>
        </section>

        <section> <!--LOGO Y HOME-->
        <h1><img src="../imagenes/logo.jfif" alt="logo" width="30" height="30"><a href="./index.html" style="text-decoration:none">Vivero Cuore</a></h1>
         </section>   


    
        <!--MENU PRINCIPAL-->
        <nav>
            
            <ul class="menuFlex">
                <li class="boton"><a href="./views/productos.html" target="_blank">productos</a>
                    <ul>
                        <li><a href="./views/interior.html">Plantas_de_Interior</a></li>
                        <li><a href="">Plantas_Exterior</a></li>
                        <li><a href="">Plantas_Aromaticas</a></li>
                        <li><a href="./views/macetas.html">Macetas</a></li>
                    </ul>
                
                    </li>
                <li class="boton"><a href="./views/servicios.html" target="_blank">servicios</a>
                    <ul>
                        <li><a href="">Huertas_Urbanas</a></li>
                        <li><a href="">Siembra</a></li>
                        <li><a href="">Compostaje</a></li>
                    </ul>
                
                    </li>
                <li class="boton"><a href="./views/faq.html" target="_blank"> faq</a></li>
                <li class="boton"><a href="./views/contacto.html" target="_blank">contactos</a></li>
            </ul>
        </nav> 
      
    </header>

    <aside class="border">Publicidad
    </aside>
  
    

    <!--  <footer class="border">Pie de pagina</footer>-->
    <footer class="pieDePagina">
        <br>
        <br>
        <br>
        <hr>
        <div>
            <h3>contactos en redes sociales</h3>
            <!--iconos de rrss-->
            <a href="https://wa.me/1137917261/?text=Me%20interesa%20la%20planta%20que%20estás%20vendiendo" target="_blank">WhatsApp  <i class="fab fa-whatsapp"></i></a>
            <a href="mailto: viverocuore@gmail.com">Mail  <i class="fas fa-envelope"></i></a>
            <a href="https://instagram.com">Instagram  <i class="fab fa-instagram"></i></a>
        </div>
        
        <div>
            <h3>medios de pago</h3>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-amazon"></i>
            <!--iconos de tarjetas-->
        </div>
        
        <div>
            <p>Vivero Cuore todos los derechos reservados -  desarrollado por Mariano Resnicoff
            <hr>
            <br>
            <br>
            </p>
        </div>
        
    </footer>


</body>
</html>