<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="shortcut icon" href="../imagenes/hoya.jpg">
    <link rel="stylesheet" href="../estilos/style.css">
</head>

<body>

    
    <section>
        <h2>MACETAS</h2>
        <a title="macetas" href="./macetaCemento.html"><img src="../imagenes/macetas/fibrocemento.jfif" alt="imagen1" width="140" height="180" class="bordesRedondeados fotoIzquierda"/></a>
        <a title="macetas" href="./macetaPintada.html"><img src="../imagenes/macetas/pintadas.jfif" alt="imagen1" width="140" height="180" class="bordesRedondeados fotoCentro"/></a>
        <a title="macetas" href="./views/macetaPlastico.html"><img src="../imagenes/macetas/plasticas.jfif" alt="imagen1" width="140" height="180" class="bordesRedondeados fotoDerecha"/></a>


    </section>



 <h1><a class="back" href="../index.html">Volver</a></h1>




</body>

</html>