<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="shortcut icon" href="../imagenes/hoya.jpg">
    <link rel="stylesheet" href="../estilos/style.css">
</head>

<body>

    <main class="main">
     <!--   <div class="container">-->
            <h2 class="main-title">Macetas Fibrocemento</h2>
            <section class="container-galeria">
                <div class="product">
                    <img src="../imagenes/macetas/cuadrada.jfif" alt="cuadrada">
                    <h3 class="product__title">Maceta Cuadrada</h3>
                    <h4 class="product__price">Precio: $400</h4>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/circular.jfif" alt="circular">
                    <h3 class="product__title">Circular</h3>
                    <span class="product__price">Precio: $500</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/rectangular.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/rectangChica.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $1600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/prisma.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $1600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/rect_varias.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $1600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/cuadrada.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $1600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/cubicas.jfif" alt="rectangular">
                    <h3 class="product__title">Rectangular</h3>
                    <span class="product__price">Precio: $1600</span>
                </div>


            </section>

       <!--  </div>-->

    </main>
    <h1><a class="back" href="../index.html">Volver</a></h1>

</body>

</html>