<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="shortcut icon" href="../imagenes/hoya.jpg">
    <link rel="stylesheet" href="../estilos/style.css">
</head>

<body>

    <main class="main">
        <div class="container">
            <h2 class="main-title">Macetas Pintadas</h2>
            <section class="container-products">
                <div class="product">
                    <img src="../imagenes/macetas/maceta-cactus-pintada-a-mano.jpg" alt="cuadrada">
                    <h3 class="product__title">Maceta</h3>
                    <h4 class="product__price">Precio: 500</h4>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/maceta_flor.jpg" alt="circular">
                    <h3 class="product__title">Maceta</h3>
                    <span class="product__price">Precio: 600</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/maceta_pajaro.jpg" alt="rectangular">
                    <h3 class="product__title">Maceta</h3>
                    <span class="product__price">Precio: 00</span>
                </div>

                <div class="product">
                    <img src="../imagenes/macetas/maceta_pajaro.jpg" alt="rectangular">
                    <h3 class="product__title">Maceta</h3>
                    <span class="product__price">Precio: $00</span>
                </div>


            </section>

        </div>

    </main>


</body>

</html>