<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="shortcut icon" href="../imagenes/hoya.jpg">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <section id="buscar">
        <form>
            <input type="search"  value="Search"> <i class="fas fa-search"></i> <i class="fas fa-shopping-cart"></i>
        </form>
    </section>

    <section>
        <h1><img src="../imagenes/logo.jfif" alt="logo" width="30" height="30"><a href="../index.html">Vivero Cuore</a></h1>
   </section>   


    <header>
        <!--MENU PRINCIPAL-->
         <!--MENU PRINCIPAL-->
         <nav>
            
            <ul class="menuFlex">
                <li class="boton"><a href="./views/productos.html" target="_blank">productos</a>
                    <ul>
                        <li><a href="./views/interior.html">Plantas_de_Interior</a></li>
                        <li><a href="">Plantas_Exterior</a></li>
                        <li><a href="">Plantas_Aromaticas</a></li>
                        <li><a href="./views/macetas.html">Macetas</a></li>
                    </ul>
                
                    </li>
                <li class="boton"><a href="./views/servicios.html" target="_blank">servicios</a>
                    <ul>
                        <li><a href="">Huertas_Urbanas</a></li>
                        <li><a href="">Siembra</a></li>
                        <li><a href="">Compostaje</a></li>
                    </ul>
                
                    </li>
                <li class="boton"><a href="./views/faq.html" target="_blank"> faq</a></li>
                <li class="boton"><a href="./views/contacto.html" target="_blank">contactos</a></li>
            </ul>
        </nav> 
    </header>

    <section>
        <h2>PLANTAS DE INTERIOR</h2>
        <img src="../imagenes/interior1.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoIzquierda"/>
        <img src="../imagenes/interior2.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoCentro"/>
        <img src="../imagenes/interior3.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoDerecha"/>
    </section>
<!--
    <section>
        <h2>PLANTAS DE EXTERIOR</h2>
    </section>
-->
    <section>
        <h2>PLANTAS AROMATICAS</h2>
        <img src="../imagenes/aromatica1.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoIzquierda"/>
        <img src="../imagenes/aromatica2.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoCentro"/>
        <img src="../imagenes/aromatica3.jfif" alt="imagen1" width="140" height="300" class="bordesRedondeados fotoDerecha"/>
    </section>


<hr>
<footer>
    <section>
        <form>
            
        </form>
    </section>
    <section>
        <h3>contactos en redes sociales</h3>
        <!--iconos de rrss-->
        <a href="https://wa.me/1137917261/?text=Me%20interesa%20la%20planta%20que%20estás%20vendiendo" target="_blank">WhatsApp</a>
        <a href="mailto: viverocuore@gmail.com">Mail</a>
    </section>
    <section>
        <h3>medios de pago</h3>
        <!--iconos de tarjetas-->
    </section>
    <section>
        <p>Vivero Cuore todos los derechos reservados -  desarrollado por Mariano Resnicoff</p>
    </section>
    
</footer>


</body>

</html>